.hotelsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 3rem;
}


.noResults{
    display: flex;
    min-height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}